{
  "aws": {
    "region": "us-east-1",
    "accountId": 1982381,
    "bucket": "my-s3-bucket"
    "snsTopicToListen": "sns-topic-to-trigger-this-lambda",
    "snsTopicErrorHandling": "sns-topic-to-be-sent-on-error",
    "snsTopicToSendMessage": "sns-topic-this-service-will-send",
    "loggerSns": "sns-topic-to-logger-microservice"
  }
}